@model List<String>
@{
    ViewData["Title"] = "Edit";
}
<h3>New property</h3>
<form method="post">
    <input name="Name" placeholder="Insert Property Name" required="required"/>
    <select name="Type" required="required">
        @foreach (var type in Model)
        {
            <option value="@type">@type</option>
        }
    </select>
    <input type="submit"/>
</form>