@{
    ViewData["Title"] = "Home";
}
<p>
    Change of model requires an application restart and deletion of data
</p>
<h2>Are you sure you want to restart the application?</h2>
<a href="/shutdown/confirm">YES</a>
<a href="/home">NO</a>